<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle|default("Strona z memami") }}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div id="pageContainer">
    <header>
        <div id="tytuldiv">
        <a href="http://localhost/zadanieMemy/pub/" id="tytul">{{pageTitle}}</a>  
      </div>
      {% if isAdmin == 1 %} 
    <a href="http://localhost/zadanieMemy/pub/admin" id="admin">Admin</a>
{% endif %}
{% if user is not defined %}
<div id="logowania">
    <a href="http://localhost/zadanieMemy/pub/Login">Logowanie</a>
    <a href="http://localhost/zadanieMemy/pub/register">Zarejestruj się</a>
</div>
{% endif%}

{% if user is defined %}
<div id="przyk">
 <div id="loggedUser">
    

    
    Zalogowany użytkownik: {{ user.getName }}
    <a href="http://localhost/zadanieMemy/pub/upload" class="upload">Upload</a>
    <a href="http://localhost/zadanieMemy/pub/logout">Wyloguj</a>
</div>      
</div>


{% endif%}
    </header>
    
  






{% for post in postArray %}
<div id="post">
    <h6>Tytuł: {{post.getTitle()}}</h6>
    <h6>Autor: {{post.getAuthorName()}}</h6>
    <img src="{{post.getFilename()}}">
    <h6>Data dodania: {{post.getTimestamp()}}</h6>
    <h6>Ilość polubień: {{post.getLikeCount()}}</h6>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="postID" value="{{ post.getID }}">
        <input type="hidden" name="userID" value="{{ user.getID }}">
        <button type="submit" name="like">+</button>
    </form>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="postID" value="{{ post.getID }}">
        <input type="hidden" name="userID" value="{{ user.getID }}">
        <button type="submit" name="dislike">-</button>
    </form>


</div>
{% endfor %}  


{% include 'footer.html.twig' %}    
</div>
